# macos
.DS_Store

# Vs code
.vscode

#dev
example_output.json
user_written_notes.json
user_tagged_notes.json
user_reposted_notes.json
user_received_direct_messages.json
user_reacted_notes.json
user_data.json